- name: Provision ec2 instances based on the environment
  hosts: localhost
  connection: local
  gather_facts: False
  tasks:
 
 - name: launch ansible cloudformation example
   cloudformation:
    stack_name: "ansible-cloudformation"
    state: "present"
    region: "us-east-1"
    disable_rollback: true
    template: "files/cloudformation-example.json"
    template_parameters:
      KeyName: "jmartin"
      DiskType: "ephemeral"
      InstanceType: "m1.small"
      ClusterSize: 3
    tags:
      Stack: "ansible-cloudformation"
